/* YWCS brand colors and fonts
primary-color-orange: #FD5A1E
primary-color-black: #000
primary-color-white: #FFF

secondary-color-gray: #CCC

font-primary-headline: "Avenir Next Heavy", Arial Black, sans-serif
font-secondary-headline: "Source Sans Pro", Arial Bold, sans-serif
font-body: "Source Sans Pro", Arial, sans-serif
font-subheading: "Source Sans Pro", Arial, sans-serif
 */
 @import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600");
.contactContainer {
  display: flex;
  flex-direction: column;
}

.contactHeader {
  /*display: flex;
  flex-direction: row;
  background-color: #FD5A1E;
  color: #FFF;
  justify-content: center;
  font-size: 1.75em;
  margin: 0;*/
    color: white;
    font-size: 5em;
    padding: .3em;
    margin: 0;
    background-color: #FD5A1E;
  }

.contactMain {
  height: 50em;
  width: 100%;
  background-image: url('../img/GRIT_construction_site.jpg');
  background-size: cover;
}

.contactContent {
  display: flex;
  flex-wrap: wrap;
  background: rgba(255,255,255,.75);
  width: 45%;
  margin-top: 10%;
  margin-left: 18%;
  color: #000;
}

h4 {
  font-family: "Source Sans Pro", Arial, sans-serif;
  color: #000 !important;
  font-size: 1.5em;
  justify-content: space-around;
  margin: 5%;
  text-overflow: ellipsis;
  overflow: hidden;
}

  a {
    color: #000;
    text-decoration: none;
  }

 a:hover {
  color: #CCC;
}

 a:active {
    color: #CCC;
  }
