/* YWCS brand colors and fonts
primary-color-orange: #FD5A1E
primary-color-black: #000
primary-color-white: #FFF

secondary-color-gray: #CCC

font-primary-headline: "Avenir Next Heavy", Arial Black, sans-serif
font-secondary-headline: "Source Sans Pro", Arial Bold, sans-serif
font-body: "Source Sans Pro", Arial, sans-serif
font-subheading: "Source Sans Pro", Arial, sans-serif
 */
@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600");

.label {
  font-family: "Source Sans Pro", Arial, sans-serif;
  font-size: .8em;
  /*margin-right: 1.15em;*/
  padding-bottom: 1.5em;
}

.labelFont {
  font-size: 1em !important;
}

.textField {
  background-color: rgba(253,90,30,1);
  opacity: .5;
  font-family: "Source Sans Pro", Arial, sans-serif;
  font-size: 1em;
  width: 8em;
  height: 1.5em;
  border-radius: 5px;
}
.radio {
	width : 1.5em;
	height :1.5em;
	padding: 5px;
	margin: 5px;
}

/*.text {
  margin-left: .75em;
}*/
textarea {
  width: 14em;
  min-width: 14em;
  height: 7em !important;
  padding: 3px;
  overflow:scroll;
}
.contactUs {
  /*width: 40%;*/
  justify-content: space-around;
  margin: 5%;
  font-size: 1.5em;
  flex-direction: column;
  align-self: flex-end;
}

.contactUs h4 {
  margin: 0 0 5% 0;
  font-size: 1.5em;
  overflow: hidden;
}

.contactUs p {
  font-size: 1em;
}
