* {
  font-family: arial, sans-serif;
}

.headerImg {
  background-image: url('../img/gritHeaderImg.jpg');
  z-index:50;
  height:100%;
  width: 100%;
  margin:0;
  background-position: center;
  background-repeat: no-repeat;
}

h1, h2 {
  z-index: 100;
  text-align: center;
  color:white;
}

.grit {
  color: white;
  font-size: 10em;
  padding-top: 2.5em;
  margin: 0;
}

.orange {
  background-color: #FD5A1E;
  margin:0;
}

.yellow {
  background-color: #f69d00;
}
