/* YWCS brand colors and fonts
primary-color-orange: #FD5A1E
primary-color-black: #000
primary-color-white: #FFF

secondary-color-gray: #CCC

font-primary-headline: "Avenir Next Heavy", Arial Black, sans-serif
font-secondary-headline: "Source Sans Pro", Arial Bold, sans-serif
font-body: "Source Sans Pro", Arial, sans-serif
font-subheading: "Source Sans Pro", Arial, sans-serif
 */
@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600");

.headline {
  font-family: "Avenir Next Heavy", Arial Black, sans-serif;
  font-weight: normal;
  font-variant-caps: normal;
  }

.deckHeadline2 {
  font-family: "Source Sans Pro", Arial Bold, sans-serif;
  font-weight: bold;
  }

.subHeading {
  font-family: "Source Sans Pro", Arial, sans-serif;
  font-weight: 600;
  font-variant-caps: normal;
  }

body {
  font-family: "Source Sans Pro", Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
