.gritLogo {
  width: 90%;
  padding-top: 1.5em;
}

.statsLeft {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 50%;
  height: 100%;
  background-color: #e6c534;
  font-size: 1.5em;
  padding-bottom: 2em;
}

.stripes {
  background-image: url("../img/stripes.png");
  background-repeat: repeat-x;
}
